[submodule "Semestres/Semestres/DesarrolloApps/Flutter/final_dispositivos"]
	path = Semestres/Semestres/DesarrolloApps/Flutter/final_dispositivos
	url = https://github.com/ArrobaRicardoGE/final_dispositivos
[submodule "Semestres/Ingeniería"]
	path = Semestres/Ingeniería
	url = https://github.com/saracarolina12/secure-pay
