<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update musician's data</title>
</head>
<body class="bg-danger p-2 text-dark bg-opacity-25">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <center>
        <h2 style="font-size:270%; padding: 17%;"><i>Let's update!!</i></h2>
        <form style="margin-top: -16%;" action="/posts" method="POST">
            <input name="name" placeholder="Type the name of the musician..."><br><br>
            <input name="music_genre" placeholder="Type her/his music genre..."><br><br>
            <input name="height" placeholder="Type her/his height..."><br><br>
            <input name="year_birth" placeholder="Type her/his birth year..."><br><br> 
            <button >Submit</button>
        </form>
        <!-- <img src=".\public\images\create_1.png" width="300" style="position:absolute; left:2%; top:3%;"> -->
    </center>
</body>
</html>
