@font-face {
    font-family: titulo;
    src: url(./);
}

.SubtituloMenu{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.TituloMenu{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.Options{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;

}